<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
      <script src="/javascripts/services.js"></script>
  </head>
  <body>
  <div class="header">
      Welcome
      <a href="#" class="header register">Register</a>
      <a href="#" class="header login">Log In</a>
  </div>
  <div name="form-area">
      <form name="register" method="post" action="/">
          <input type="name" placeholder="User name" name="uname"/>
          <input type="email" placeholder="Email" name="email"/>
          <input type="password" placeholder="Password" name="password"/>
          <input type="text" placeholder="Phone number" name="phone"/>
          <select name="carrier">
              <option value="0" selected disabled>Select carrier</option>
              <option value="att">ATT</option>
              <option value="verizon">Verizon</option>
          </select>
          <button id="authCode">Validate</button>
          <input type="text" id="verify" placeholder="Enter verification code" style="display:none"/>
          <button id="register" disabled>Register</button>
      </form>

      <form name="login" method="post" action="/">
          <input type="text" placeholder="User name" name="uname"/>
          <input type="password" placeholder="Password" name="password"/>
          <button id="log">Log In</button>
      </form>
  </div>

  </body>
</html>
